body{
    background: rgb(254,112,112);
    background: linear-gradient(90deg, rgba(254,112,112,1) 0%, rgba(95,95,224,1) 100%, rgba(0,212,255,1) 100%);
}

h1{
    color:white;
}

#centering{
    text-align:center;
}

#pokeTable.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #add8e6;
}

.img-rounded{
  border-radius: 25px;
  background: #48D1CC;
  padding: 10px;
  width: 200px;
  height: 150px;
}

td, th{
  font-size: 15px;
  font-weight:bolder;
}

#errorCheck{
    weight:bolder;
    font-size:15px;
    text-transform: uppercase;
}

h2{
    text-transform: uppercase;
}